.azul{
    background-color: aqua;
    font-family: serif;
    font-size: 14px;
}

.cinza{
    background-color: grey;
    font-family: serif;
    font-size: 14px;
}

.amarelo{
    background-color: yellow;
    font-family: serif;
    font-size: 14px;
}

.verde{
    background-color: lime;
    font-family: serif;
    font-size: 14px;
}