/Aula6/nbproject/private/
/Aula6/build/
/Aula7/nbproject/private/
/Aula7/build/
/Aula8/nbproject/private/
/Aula8/build/
/Aula9/nbproject/private/
/Aula9/build/
/Aula10/nbproject/private/
/Aula10/build/
/Aula11/nbproject/private/
/Aula11/build/
/Aula12/nbproject/private/
/Aula12/build/
/Praticas20202/Aula1/nbproject/private/
/Praticas20202/Aula1/build/
/Praticas20202/Aula2/nbproject/private/
/Praticas20202/Aula2/build/
/Praticas20202/Aula3/nbproject/private/
/Praticas20202/Aula3/build/